<div class="container">
  <form>
    <div class="form-group">
      <label class="control-label">Select Photo</label>
      <input id="inputFile" type="file" class="file">
      <button type="button" {{action 'uploadPhoto'}}>Upload</button>
      <button type="button" {{action 'safariAlertTest'}}>Safari Alert Test</button>
      <button type="button" {{action 'testFunc'}}>Test</button>
      <button type="button" {{action 'stressTest'}}>Stress Test</button>
      <button type="button" {{action 'querySpace'}}>Query Space</button>
      <button type="button" {{action 'adapterCheck'}}>Query Adapter</button>
      <div id="img_meta_data"></div>
    </div>
  </form>
</div>
